chatway-anypage {
    position: fixed;
    width: 384px;
    height: 384px;
    right: 16px;
    bottom: 16px;
    z-index: 10000;
}

chatway-anypage iframe {
    width: 384px;
    height: 384px;
    border: 0;
    border-radius: 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}