html,
body {
    background: rgb(30, 35, 40);
    overflow: hidden;
}

/* Sidebar */

.sidebar {
    color: white;
    background: rgb(20, 25, 30);
    height: calc(100vh - 32px) !important;
    margin: 16px;
    border-radius: 14px;
}

.nav-link {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 18px;
    border-radius: 8px !important;
}

.nav-link:hover {
    background-color: #224488;
}

.sidebar-item.icon {
    margin: 0 8px 2px 0;
}

.credit-text {
    font-size: 12px;
    text-align: center;
    color: #999;
}

.sidebar-user-image {
    border-radius: 50%;
    transition: all 250ms;
}

.sidebar-user-image:hover {
    border-radius: 6px;
}

.sidebar-username {
    font-weight: 600;
    transition: all 250ms;
}

.sidebar-username:hover {
    color: #bbbbbb;
}

.user-dropdown-toggle {
    display: inline-flex !important;
    outline: 0;
    cursor: pointer;
}

.user-dropdown.show {
    border-radius: 8px;
    transform: translate3d(0px, -48px, 0px) !important;
}

.dropdown-item {
    transition: all 250ms;
}

.dropdown-item.sign-out {
    color: rgb(255, 75, 75);
}

/* Content */

.content-main {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    color: white;
    background: rgb(20, 25, 30);
    top: 16px;
    right: 16px;
    width: calc(100vw - 328px) !important;
    height: calc(100vh - 32px) !important;
    margin: 0;
    border-radius: 14px;
}

.content-main.active {
    display: flex;
}

.content-header {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 400;
}

.grid-2 {
    display: grid;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 172px 172px;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
}

.content-home-button {
    margin: 0;
    padding: 0;
    height: 104px;
    background: rgb(30, 35, 40);
    color: white;
    border: 0;
    border-radius: 6px;
    transition: all 250ms;
}

.content-home-button:hover {
    background: rgb(40, 45, 50);
}